*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
buildSrc/build/libs/buildSrc.jar
buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
